extends layout

block content
    h2 Analyse Seite
    br
    p Hier können Sie die gemessenen Werte einer gewünschten SenseBox räumlich und Statistisch analysieren.
    .row
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardanalysemap
                h3 1. Karte
                p Karte zur Visualisierung aller SenseBoxen! Klicken Sie auf einen Marker auf der Karte, um den Namen und die für die Abfrage benötigte SenseBox ID herauszufinden!
                br
                #analysemap
            br
    .row
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardplotting
                h5 2. Plotting 
                h6 Bitte geben Sie die erforderlichen Daten ein, um eine visuelle Analyse anhand von Plots darzustellen.
                form(method='post', action='/map')
                  .form-group.row
                    .col-sm-6.mb-3.mb-sm-0
                      h6 2.1 Eingabe der SenseBox ID (Beispiele: Senden: 60f077874fb91e001c71b3b1, TestBox: 63c3f0c9a122c30008268cc0)
                      input#sbidinput.form-control(type='text' name='sbidinput' placeholder='Sensebox ID')
                      h6 2.2. Eingabe der Start und Endzeit:
                      h6 2.2.1 Startzeit: (Beispiel: 2022-11-22T08:00)
                      input#startInput(style="width: 100%", type='text' name='startInput' placeholder='Startzeit in YYYY-MM-DDThh:mm')
                      h6 2.2.2 Endzeit: (Beispiel: 2022-11-22T12:00)
                      input#endInput(style="width: 100%", type='text' name='endInput' placeholder='Endzeit in YYYY-MM-DDThh:mm')
                      button.btn-dark(style="width: 30%") Bestätigen
                h5 Struktur Plot:
                img(src= weblink,style="height: 50%; width: 50%", alt="")
    .row
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardanalysen
                  h5 3. Anzeige aller gemessenen Werte eines nachgefragten Messstandorts mit Datum und Uhrzeit.
                  h6 3.1 Eingabe der SenseBox ID zur Abfrage der letzten gemessenen Werte: (Beispiele: <br> Senden: 60f077874fb91e001c71b3b1 <br> TestBox: 63c3f0c9a122c30008268cc0)
                  input#userinput.form-control(style="width: 55%" type='text' name='userinput' placeholder='Sensebox ID')
                  
                  h6 3.2. Eingabe der Start und Endzeit zur Abfrage und Ausgabe der in der Zeit gemessenen Lautstärken:
                  h6 3.2.1 Startzeit: (Beispiel: 2022-11-22T08:00)
                  input#starttimeInput(style="width: 55%", type='text' placeholder='Startzeit in YYYY-MM-DDThh:mm')
                  h6 3.2.2 Endzeit: (Beispiel: 2022-11-22T12:00)
                  input#endtimeInput(style="width: 55%", type='text' placeholder='Endzeit in YYYY-MM-DDThh:mm')
                  button.btn-dark(style="width: 30%", onclick='fetchbox()') Bestätigen
                  br
                  p Sollte keine Tabelle mit Datum und Dezibelwert erscheinen, hat die von Ihnen gewählte SenseBox keine Lautstärkedaten!
                  table#resultTable 
                    tr
                      th
                        | Datum der Messung:
                      th
                        | Dezibelwert:

                  br
                  | Herunterladen der Lautstärkedaten:
                  br
                  download.button-dark#containerjson
                  br
                  p Herunterladen als CSV Datei:
                  button.btn-dark(role='button', style="width: 30%",href='https://api.opensensemap.org/boxes/60f077874fb91e001c71b3b1/data/60f077874fb91e001c71b3b2?download=true&format=csv') Herunterladen
                    
                
    script.
        // Set active Button
        document.querySelectorAll(".active")[0].classList.remove("active");
        document.querySelectorAll(".nav-link")[3].classList.add("active");
    script(src='/js/analyse.js')