extends layout

block content
    h2 Analyse Seite
    br
    p Hier können Sie die gemessenen Werte Analysieren
    .row.justify-content-md-left
        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardanalysemap
                h5 (Heat)map
                p Karte zur Visualisierung der Messtationen und (in Arbeit) mit Abruf der gemessenen Werte als popup der Marker
                p (mit der Möglichkeit eine Heatmap der gemessenen Werte ein und aus zu blenden)
                #analysemap

            .card.text-dark.p-4.border-success.cardplotting
                h5 Plotting 
                p Hier werden Plots dargestellt wie diese:
                p Plot 1:
                  img(src= ueblink , alt="")
                p Plot 2:
                  img(src= weblink , alt="")
                  

        .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.cardanalysen
                .card.text-dark.p-4.border-success.card
                  h4 Anzeige aller gemessenen Werte eines Messstandorts (eventuell Möglichkeit diesen hier noch zu ändern, auch wenn vorher andere ID angegeben wurde)
                    br
                    #elements
                    br
                    | Herunterladen der Lautstärkedaten:
                    br
                    a.i.fa.fa-download.button-dark#container
                    br
                    p Herunterladen als CSV Datei:
                    a.i.fa.fa-download.btn.btndownload.btn-dark(role='button', href='https://api.opensensemap.org/boxes/60f077874fb91e001c71b3b1/data/60f077874fb91e001c71b3b2?download=true&format=csv')
                    
                
    script.
        // Set active Button
        document.querySelectorAll(".active")[0].classList.remove("active");
        document.querySelectorAll(".nav-link")[3].classList.add("active");
    script(src='/js/analyse.js')
    script(src='/js/heatmap.js')
    script(src='/js/leaflet-heatmap.js')