extends layout

block content

  script.
    // Set active Button
    document.querySelectorAll(".active")[0].classList.remove("active");
    document.querySelectorAll(".nav-link")[2].classList.add("active");

  .row.gx-10
    .col-md-4
      .pb-3
        .card.shadow-lg
          .card-body
            h2.card-title Neue Messung hinzufügen
            div
              #EingabeDiv
                |Name:  
                input#NameDiv(type='text')
                p
                |OpenSenseBox ID: 
                input#OpenSenseBoxDiv(type='text')
              p

      .pb-3
        .card.shadow-lg
          .card-body

            h2.card-title Soundaufnahme
            div
              textarea#db(name='db')
              p
              #Div Gib erst die anderen Daten ein, bevor du eine Soundmessung machst.
              button.btn.btn-primary.btn-sm(id="messung" style="background:green") Messung starten
              meter#volumeMeterEl(high='0.25' max='0.5' value='0')
              p
              button.btn.btn-primary.btn-sm(id="messungStoppen") Messung stoppen
              p#ausg

      .pb-3
        .card.shadow-lg
          .card-body
            a.btn.btn-primary.btn-sm(type='button' id="hinzufuegen") Hinzufügen
            #FehlerDiv Sorry, du musst erst eine Soundmessung machen.
            #FehlerDiv2 Sorry, du musst erst deinen Standort einlesen.
            #FehlerDiv3 Sorry, du musst erst einen Namen eingeben.
            br
            form(method='post', action='/map')
              form-group
                  label.col-form-label(for='OpenSenseBoxDiv') Boundingbox
                  textarea#OpenSenseBoxDiv.form-control.disabled(name="OpenSenseBoxDiv" readonly="readonly" style="font-size: 0.8rem") 
                  button.btn.btn-primary() Zur Analyse Seite
    .col-md-8
      .card.shadow-lg
        .card-body
          div.align-items-center
            | Click here to read in your personal 
            span.Eingabe Browser-Coordinates
            | : 
            a.btn.btn-primary.btn-sm(onclick='getLocation()') Try It
            p#demo
            p#map.mt-3


  script(src='/js/webaudio.js')
  script(src='/js/leaflet.js')