body {
  min-height: 100%;
  text-align: justify;
}

.btn {
  height: 30px;
  width: 30%;
}

#analysemap {
  height: 850px;
  width: 100%;
}

.cardanalysemap {
  height: 75%;
  width: 120%;
}

.cardanalysen{
  height: 100%;
  width: 75%;
  margin-left: auto;
}

