body {
  min-height: 100%;
  text-align: justify;
}

.btn {
  height: 30px;
  width: 30%;
}

#analysemap {
  height: 100%;
  width: 100%;
}

.cardanalysemap {
  height: 750px;
  width: 120%;
}

.cardanalysen{
  height: 100%;
  width: 75%;
  margin-left: auto;
}

.cardplotting {
  height: 1150px;
  width: 120%;
}

.cardimages {
  height: 200px;
  width: 25%;
}
