body {
  min-height: 100%;
  text-align: justify;
}

#FehlerDiv{
  text-align: center;
  color: red;
  display: none;
}
#FehlerDiv2{
  text-align: center;
  color: red;
  display: none;
}
#FehlerDiv3{
  text-align: center;
  color: red;
  display: none;
}
.allign-middle{
  text-align: center;
}

#analysemap {
  height: 100%;
  width: 100%;
}

.cardanalysemap {
  height: 750px;
  width: 200%;
}

.cardanalysen{
  height: 100%;
  width: 200%;
}

.cardplotting {
  height: 1150px;
  width: 200%;
}

.cardimages {
  height: 200px;
  width: 25%;
}

#resultTable {
  border-collapse: collapse;
}