extends layout

block content
  h1 Messungen bearbeiten oder löschen
  p  Auf dieser Seite können die hinzugefügten Messungen wieder gelöscht werden. Dazu ist es nur nötig auf der Karte auf die Messungen zu klicken! Diese erkennen Sie ganz leicht an den Bildern!
  br
  br
  #map
  br
  .row.justify-content-md-center
    .col-lg-6.col-xs-12.mb-3
        .card.text-dark.p-4.border-success.card
            form(action='/delete/deleteOne' method='post')
              fieldset
                .form-group.row
                  label.col-sm-2.col-form-label(for='id') ID
                  .col-sm-7
                    input#id.form-control(type='text' name="id" readonly)
                    br
                .form-group.row
                  label.col-sm-2.col-form-label(for='name') Name          
                  .col-sm-7
                    input#name.form-control(type='text' name="name" placeholder="Name der Person")
                    br
                .form-group.row
                  label.col-sm-2.col-form-label(for='time') Uhrzeit und Datum
                  .col-sm-7
                    input#time.form-control(type='text' name="time" placeholder="Uhrzeit und Datum der Messung")
                    br
                .form-group.row
                    label.col-sm-2.col-form-label(for='timespan') Dauer der Messung
                    .col-sm-6
                      input#timespan.form-control(type='text' name="timespan" placeholder="Dauer der Messung")
                      br
                .form-group.row
                  label.col-sm-2.col-form-label(for='fre') Frequenzbewertung
                  .col-sm-7
                    input#fre.form-control(type='text' name="fre" placeholder="Frequenzbewertung")
                    br
                .form-group.row
                  label.col-sm-2.col-form-label(for='react') Reaktionszeit
                  .col-sm-7
                    input#react.form-control(type='text' name="react" placeholder="Reaktionszeit")
                    br
                .form-group.row
                  label.col-sm-2.col-form-label(for='leq') Durchschnitt
                  .col-sm-7
                    input#leq.form-control(type='text' name="leq" placeholder="Durchschnitt")
                    br
                .form-group.row
                  label.col-sm-2.col-form-label(for='lmin') Minimum
                  .col-sm-7
                    input#lmin.form-control(type='text' name="lmin" placeholder="Minimum")
                    br
                .form-group.row
                  label.col-sm-2.col-form-label(for='lmax') Maximum
                  .col-sm-7
                    input#lmax.form-control(type='text' name="lmax" placeholder="Maximum")
                    br
                .form-group.row
                  label.col-sm-2.col-form-label(for='lpeak') Peak
                  .col-sm-7
                    input#lpeak.form-control(type='text' name="lpeak" placeholder="Peak")
                    br
                .form-group.row
                  label.col-sm-2.col-form-label(for='long') Längengrad
                  .col-sm-7
                    input#long.form-control(type='text' name="long" placeholder="X Koordinate des Ort der Messung")
                    br
                .form-group.row
                  label.col-sm-2.col-form-label(for='lat') Breitengrad
                  .col-sm-7
                    input#lat.form-control(type='text' name="lat" placeholder="Y Koordinate des Ort der Messung")
                    br
                button.btn.btn-success(type='submit' formaction="/editdelete/deleteOne") Löschen
                button.btn.btn-success(type='submit' formaction="/editdelete/updateOne") Speichern
  script.
    let geojson = !{JSON.stringify(data)}

  block scripts 
    script(src="/javascripts/bearbeitenloeschen.js")