extends layout 

block content
  h1 Messung mit DecibelX Handy Software
        .row.justify-content-md-center
          .col-lg-6.col-xs-12.mb-3
            .card.text-dark.p-4.border-success.card
                    p Auf den Bildern sehen Sie die DecibelX App und die Durchführung und Auswertung einer Messung mit dieser.
                    p Dies dient dazu, um die Werte welche auf der Seite eingetragen werden können besser zuordnen zu können, um die Benutzung dieser WebApp einfacher zu gestalten und um sie besser nachvollziehen zu können
                    
  .row.justify-content-md-center
        .col-lg-6.col-xs-12.mb-3
          .card.p-4.border-success.card             
            img(src="/images/Aufnehmen.jpeg")  
        .col-lg-6.col-xs-12.mb-3 
          .card.p-4.border-success.card 
            img(src="/images/Aufnahme2.jpeg")
        .col-lg-6.col-xs-12.mb-3 
          .card.p-4.border-success.card 
            img(src="/images/Werte.jpeg")
  
  
