extends layout
block content
     h1 Impressum
     h2 Autor:
     p Jonathan Mader
     h2 Kontakt:
     p Jonathan Mader: jmader@uni-muenster.de 
          a(href='mailto:%6amad%65%72@u%6e%69%2dmu%65ns%74er%2ede' target='_blank') Hier klicken um Jonathan eine Email zu schreiben!
               ion-icon(name='mail-outline' style='color:#000000')
     h2 Bild Quellen: 
     p 
         a(href='https://w7.pngwing.com/pngs/926/79/png-transparent-computer-icons-volume-volume-miscellaneous-angle-text.png') Eigenes Lautstärke Icon
     