extends layout

block content
  h1 openSenseMap Widget
    br
    iframe(src="https://sensebox.github.io/opensensemap-widget/iframe.html?senseboxId=61cde4ec1b17b1001b8e126d", width="400", height="600", marginwidth="8", marginheight="8", hspace="0", vspace="0", frameborder="0", scrolling="no")