extends layout 


block content
  h1 Messungen ansehen
  p Auf dieser Seite können die hinzugefügten Messungen auf einer Leaflet Karte ansehen. Klicken Sie auf einen der Marker, gut erkennbar durch das Icon eines Berges, so erscheint ein Popup mit allen notwendigen Informationen
  p Außerdem werden alle in der Datenbank gespeicherten Messungen ebenfalls in der Tabelle unter der Karte aufgelistet um die Informationen auszulesen
  #map
  br
  h3 Auflistung der Messungen als Tabelle:
        table#dataTable.table.table-success.table-striped.table-hover
          tr
              th Name
              th Uhrzeit und Datum
              th Dauer der Messung (in s)
              th Frequenzbewertung
              th Reaktionszeit
              th Durchschnitt
              th Minimum
              th Maximum 
              th Peak
              
  script. 
    let geojson = !{JSON.stringify(data)}

  block scripts 
    script(src="/javascripts/ansehen.js")