extends layout 

block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
        // Set active Button
        document.querySelectorAll(".active")[0].classList.remove("active");
        document.querySelectorAll(".nav-link")[1].classList.add("active");

    div.container.allign-middle
        .col-auto
          p
            u.fs-2.fw-bold Teilnehmer
        .row.justify-content-center 
          .col-md-6
            .row.justify-content-center.mx-1
                .card.shadow-lg.mt-2.pb-3
                  .card-body
                    h5.card-title Anleitung 
                    h6.card-subtitle.mb-2.text-muted Bitte befolgen Sie die folgenden Schritte
                    h7.card-subtitle.mb-2.text-muted - Bitte Verhalten Sie sich während der Kalibrierung leise
                      br
                      | - Endgeräte mit gleicher Entfernung zur Box ausrichten
                      br
                      | - Möglichst ruhige Umgebung suchen
                      br
                      br
                    p.card-text#AnleitungText 1. Wenn der Leiter bescheid gibt, drücken Sie bitte „Messung starten“ 
                      br
                      br
                      | 2. Stoppen Sie die Messung, indem Sie auf „Messung stoppen“ klicken, nachdem Ihnen der Leiter mit einem Handzeichen Bescheid gegeben hat
                      br
                      br
                      | Fahren Sie auf der nächsten Seite fort
                    h6.card-subtitle.mb-2.text-muted WICHTIG!!! Folgen Sie auch immer den Anweisungen der Person, welche diese Kalibrierung leitet  
                    br
                    div 
                      button.btn.btn-sm.btn-success.me-2#s1 Seite 1
                      button.btn.btn-sm.btn-outline-secondary.me-2#s2 Seite 2  
                      button.btn.btn-sm.btn-outline-secondary#s3 Seite 3 
                br
                br  
          .col-md-6
            .row.justify-content-center.mx-1
              .card.shadow-lg.mt-2.pb-3
                .card-body
                  h4.card-title Soundaufnahme
                  div
                    meter#volumeMeterEl(high='0.25' max='0.5' value='0')
                    //textarea#db(name='db')
                    p
                    button.btn.btn-success.btn-sm#messung Messung starten
                    //meter#volumeMeterEl(high='0.25' max='0.5' value='0')
                    p
                    button.btn.btn-secondary.btn-sm#messungStoppen Messung stoppen
                    p#AusgabeMessung
            br
            br
          
            .row.justify-content-center
              .col-10
                div.input-group.mb-3
                  span.input-group-text Group-Code
                  input#input_GroupCode.form-control(placeholder='1234567' readonly) 
                div.btn.btn-secondary.disabled#btn_Gruppenkalibrierung Kalibrierungsraum speichern 
                br 
                p#output_Error_Cal.text-danger.fs-5
                br
          
            .col-12
              div.input-group.mb-3
                span.input-group-text UserID
                input#input_UserID.form-control(placeholder='1213141516' readonly) 
              div.btn.btn-secondary.btn-lg.disabled#btn_Kalibrierung Kalibrierung starten
              br
              div#output_Error_Down.text-danger.fs-5
        .col-10
          br
          .row.justify-content-center
            div#out_finished.text-success.fs-2.fw-bold.visually-hidden
              span Kalibrierung wurde abgeschlossen!
              br
              span Sie können nun zur Startseite zurückkehren.
            br
        br
        br
        .col.allign-middle
          .btn.btn-secondary.visually-hidden#btn_demo1 Notfalls Demo 1
        br
        .col.allign-middle
          .btn.btn-secondary.visually-hidden#btn_demo2 Notfalls Demo 2

    script(src='/js/kal-atten.js')
