doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/bootstrap.css')

    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.9.2/dist/leaflet.css' integrity='sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=' crossorigin='')
    script(src='https://unpkg.com/leaflet@1.9.2/dist/leaflet.js' integrity='sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=' crossorigin='')
    link(rel='stylesheet' href='/stylesheets/leaflet.css')

    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Studienprojekt Umweltbezogener Gesundheitsschutz und Citizen Science - Lärmkartierung')
    meta(name='author' content='Kursteilnehmer Studienprojekt Umweltbezogener Gesundheitsschutz und Citizen Science')

    script(src='/js/aufnahme.js')


    // Favicon// Favicon
    link(rel='icon' sizes='16x16 32x32 48x48 64x64' href='/images/Logo.ico')
    //link(rel='icon' type='image/x-icon' href='/images/muenster-icon.png')

  body.d-flex.flex-column.min-vh-100
    // Responsive navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-3
      .container.px-5
        a.navbar-brand(href='/') Bürgerwissenschaft - Lärm in Münster
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page' href='/') Startseite
            li.nav-item
              a.nav-link(href='/kalibrierung') Kalibrierung
            li.nav-item
              a.nav-link(href='/messung') Messung
            li.nav-item
              a.nav-link(href='/map') Analyse


    // Page Content
    .row.px-4.px-lg-5(style="width:100%")
      block content

    // Footer
    block footer
      footer.py-5.bg-dark.mt-3
        .container.px-4.px-lg-5
          p.m-0.text-center.text-white Copyright &copy; Studienprojekt Umweltbezogener Gesundheitsschutz und Bürgerwissenschaft
          p.m-0.text-center.text-white Westfälische-Wilhelms-Universität, Heisenbergstraße 2, 48149 Münster

    // Bootstrap core JS
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

